apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: actor-hpa
  namespace: local-infra
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: actor-service
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
